<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmpleados" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49750/Empleados.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmpleados" contract="ServiceRefUser.IEmpleados"
                name="BasicHttpBinding_IEmpleados" />
        </client>
    </system.serviceModel>
</configuration>